.vscode/**
.vscode-test/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.d.ts
pyodide/node/*.js
pyodide/node/*.js.map
pyodide/node/*.d.ts
pyodide/common/*.js
pyodide/common/*.js.map
pyodide/common/*.d.ts
