.vscode/**
.vscode-test/**
node_modules/**
src/**
.gitignore
.nvmrc
.yarnrc
*.vsix
eslint.config.mjs
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.d.ts
build/**
pyodide/node/*.js.map
pyodide/node/*.d.ts
pyodide/common/*.js.map
pyodide/common/*.d.ts
pyodide/*.map
pyodide.zip
temp/**
scenarios/**
# Gifs are very large, no need to include in VSIX
images/*.gif
